# HEALTH MONITORING SIMULATOR

In [1]:
import pandas as pd

In [2]:
import time

# Randomly generating data for 2000 epochs

In [12]:
import random
import time
import json

start = time.time()
print(start)
with open('result1.json', 'w') as fp:
    json.dump([], fp)
while start + 10 > time.time():
    h_rate = random.randint(10,160)
    r_rate = random.randint(0,100)
    activity = random.randint(0,100)
    data=dict()
    data["userId"]="abc"
    data["timestamp"]=time.time()
    data["heart_rate"]=h_rate
    data["respiration_rate"]=r_rate
    data["activity"]=activity
    print(data)
    with open('result1.json', 'r') as fp:
        feeds = json.load(fp)
    with open('result1.json', 'w') as fp:
        feeds.append(data)
        json.dump(feeds, fp)
    time.sleep(1)

1596620183.864486
{'respiration_rate': 17, 'userId': 'abc', 'timestamp': 1596620183.865521, 'heart_rate': 65, 'activity': 95}
{'respiration_rate': 92, 'userId': 'abc', 'timestamp': 1596620184.879905, 'heart_rate': 65, 'activity': 29}
{'respiration_rate': 79, 'userId': 'abc', 'timestamp': 1596620185.893503, 'heart_rate': 52, 'activity': 72}
{'respiration_rate': 55, 'userId': 'abc', 'timestamp': 1596620186.898791, 'heart_rate': 148, 'activity': 89}
{'respiration_rate': 33, 'userId': 'abc', 'timestamp': 1596620187.911644, 'heart_rate': 38, 'activity': 39}
{'respiration_rate': 75, 'userId': 'abc', 'timestamp': 1596620188.92512, 'heart_rate': 115, 'activity': 89}
{'respiration_rate': 39, 'userId': 'abc', 'timestamp': 1596620189.938712, 'heart_rate': 113, 'activity': 45}
{'respiration_rate': 99, 'userId': 'abc', 'timestamp': 1596620190.947015, 'heart_rate': 51, 'activity': 7}
{'respiration_rate': 47, 'userId': 'abc', 'timestamp': 1596620191.961074, 'heart_rate': 107, 'activity': 62}
{'respiration_rate': 54, 'userId': 'abc', 'timestamp': 1596620192.975878, 'heart_rate': 20, 'activity': 30}

In [13]:
df = pd.read_json('result1.json')

In [15]:
df

   activity  heart_rate  respiration_rate                  timestamp userId
0        95          65                17 2020-08-05 09:36:23.865521    abc
1        29          65                92 2020-08-05 09:36:24.879905    abc
2        72          52                79 2020-08-05 09:36:25.893503    abc
3        89         148                55 2020-08-05 09:36:26.898791    abc
4        39          38                33 2020-08-05 09:36:27.911644    abc
5        89         115                75 2020-08-05 09:36:28.925120    abc
6        45         113                39 2020-08-05 09:36:29.938712    abc
7         7          51                99 2020-08-05 09:36:30.947015    abc
8        62         107                47 2020-08-05 09:36:31.961074    abc
9        30          20                54 2020-08-05 09:36:32.975878    abc

In [16]:
print(sum(df['heart_rate']))

774

## Changing timestamp format from nanosec to sec

In [17]:
df['timestamp']=df.timestamp.values.astype('datetime64[s]')

In [18]:
from datetime import timedelta

In [19]:
for ind in df.index: 
     print(df['timestamp'][ind]-timedelta(seconds=900))

2020-08-05 09:21:23
2020-08-05 09:21:24
2020-08-05 09:21:25
2020-08-05 09:21:26
2020-08-05 09:21:27
2020-08-05 09:21:28
2020-08-05 09:21:29
2020-08-05 09:21:30
2020-08-05 09:21:31
2020-08-05 09:21:32

# Creating another dataframe containing Timestamp(every 15min), total heart rate, minimum, maximum, average heart rate during every interval of 15 minutes

In [34]:
dfObj = pd.DataFrame(columns=['timestamp','Total_Sum','MIN','MAX','AVG','COUNT'])

In [35]:
dfObj.head()

Empty DataFrame
Columns: [timestamp, Total_Sum, MIN, MAX, AVG, COUNT]
Index: []

## Initial Start and End time of 15 minutes (900 seconds)

In [36]:
start_obj = df['timestamp'][0]
print(start_obj)
end_obj=start_obj+timedelta(seconds=3)
print(end_obj)

2020-08-05 09:36:23
2020-08-05 09:36:26

# Calculation of min, max and average heart_rate

In [37]:
avg_sum=0

for ind in df.index: 
    val=df['timestamp'][ind]
    heart_rate=df['heart_rate'][ind]
    if val==end_obj:
        start_obj=end_obj
        end_obj=start_obj+timedelta(seconds=3)
    if df.timestamp[df.timestamp == val].count() and val>=start_obj and val<end_obj:
        print(val)
        if dfObj.timestamp[dfObj.timestamp == end_obj].count():
            for index in dfObj.index:
                if dfObj['timestamp'][index] == end_obj:
                    dfObj['Total_Sum'][index] = dfObj['Total_Sum'][index] + heart_rate
                    if heart_rate<dfObj['MIN'][index]:
                        dfObj['MIN'][index]=heart_rate
                    if heart_rate>dfObj['MAX'][index]:
                        dfObj['MAX'][index]=heart_rate
                    avg_sum=dfObj['Total_Sum'][index]/dfObj['COUNT'][index]
                    dfObj['AVG'][index]=avg_sum
                    dfObj['COUNT'][index]=dfObj['COUNT'][index]+1
        else:
            tempdf = pd.DataFrame({'timestamp':end_obj, 'Total_Sum':heart_rate,
                                   'MIN':heart_rate, 'MAX': heart_rate, 'AVG': heart_rate,'COUNT': [1]})
            dfObj = dfObj.append(tempdf, ignore_index=True)

2020-08-05 09:36:23
2020-08-05 09:36:24
2020-08-05 09:36:25

/Users/apple/anaconda3/envs/python3/lib/python3.5/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/apple/anaconda3/envs/python3/lib/python3.5/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/apple/anaconda3/envs/python3/lib/python3.5/site-packages/ipykernel/__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

2020-08-05 09:36:26
2020-08-05 09:36:27
2020-08-05 09:36:28
2020-08-05 09:36:29
2020-08-05 09:36:30
2020-08-05 09:36:31
2020-08-05 09:36:32

/Users/apple/anaconda3/envs/python3/lib/python3.5/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [38]:
dfObj

     AVG COUNT  MAX MIN Total_Sum           timestamp
0     91     3   65  52       182 2020-08-05 09:36:26
1  150.5     3  148  38       301 2020-08-05 09:36:29
2  135.5     3  113  51       271 2020-08-05 09:36:32
3     20     1   20  20        20 2020-08-05 09:36:35

In [39]:
start_obj

Timestamp('2020-08-05 09:36:32')

In [40]:
import numpy as np

In [41]:
if val!=end_obj:
    dfObj=dfObj[:-1]

In [42]:
dfObj

     AVG COUNT  MAX MIN Total_Sum           timestamp
0     91     3   65  52       182 2020-08-05 09:36:26
1  150.5     3  148  38       301 2020-08-05 09:36:29
2  135.5     3  113  51       271 2020-08-05 09:36:32

# Writing the calculations along with the timestamp to csv

In [43]:
dfObj.to_csv('tracker_res.csv',columns=['timestamp', 'MIN', 'MAX', 'AVG'],index=False)

In [44]:
csv_file=pd.read_csv('tracker_res.csv')

In [45]:
csv_file

             timestamp  MIN  MAX    AVG
0  2020-08-05 09:36:26   52   65   91.0
1  2020-08-05 09:36:29   38  148  150.5
2  2020-08-05 09:36:32   51  113  135.5